%form(action="" method="post")
  %fieldset
    %dl
      %dt
        %label First Name
      %dd
        %input(type="text")
      %dt
        %label Last Name
      %dd
        %input(type="text")
      %dt
        %label Email
      %dd
        %input(type="email")
      %dd
        %input.captcha(type="text")
  %fieldset.actions
    %input(type="submit" value="Send")
